WindowAPI/Debug/WindowAPI.tlog/CL.read.1.tlog
WindowAPI/Debug/WindowAPI.tlog/CL.write.1.tlog
WindowAPI/Debug/WindowAPI.tlog/WindowAPI.lastbuildstate
WindowAPI/Debug/WindowAPI.tlog/cl.command.1.tlog
WindowAPI/Debug/WindowAPI.tlog/link.command.1.tlog
WindowAPI/Debug/WindowAPI.tlog/link.read.1.tlog
WindowAPI/Debug/WindowAPI.tlog/link.write.1.tlog
WindowAPI/Debug/vc120.idb
WindowAPI/WindowAPI.opensdf
WindowAPI/WindowAPI.sdf
WindowAPI/WindowAPI.sln
WindowAPI/WindowAPI.vcxproj
WindowAPI/WindowAPI.vcxproj.filters
WindowAPI/WindowAPI/Debug/WindowAPI.tlog/CL.read.1.tlog
WindowAPI/WindowAPI/Debug/WindowAPI.tlog/CL.write.1.tlog
WindowAPI/WindowAPI/Debug/WindowAPI.tlog/WindowAPI.lastbuildstate
WindowAPI/WindowAPI/Debug/WindowAPI.tlog/cl.command.1.tlog
WindowAPI/WindowAPI/Debug/WindowAPI.tlog/link.command.1.tlog
WindowAPI/WindowAPI/Debug/WindowAPI.tlog/link.read.1.tlog
WindowAPI/WindowAPI/Debug/WindowAPI.tlog/link.write.1.tlog
WindowAPI/WindowAPI/Debug/vc120.idb
WindowAPI/WindowAPI/WindowAPI.sdf
WindowAPI/WindowAPI/WindowAPI.sln
WindowAPI/WindowAPI/WindowAPI.vcxproj
WindowAPI/WindowAPI/WindowAPI.vcxproj.filters
